<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Ana Sayfa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="qr" href="/tabs/qr">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>QR</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="load-money" href="/tabs/load-money">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Para Yükle</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
