.custom-tab-bar {
  border-top: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-around;
  position: relative;
  height: 70px; /* Tab bar yüksekliğini artırıyoruz */
}

ion-tab-button {
  --color-selected: #4a90e2;
  --color: #8e8e93;
  transition: all 0.3s ease;
}

ion-tab-button ion-icon {
  font-size: 24px;
}

ion-tab-button:hover {
  --color: #4a90e2;
}

ion-tab-button:focus {
  --color: #4a90e2;
}

ion-tab-button ion-label {
  font-size: 12px;
  font-weight: bold;
}

.qr-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.qr-button ion-icon {
  font-size: 28px;
  color: #4a90e2;
}
ion-fab-label.fab-label {
  position: absolute;
  bottom: 0;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px; /* Etiket boyutunu ayarlayın */
  color: white; /* Etiket rengini ayarlayın */
  padding-top: 4px; /* Buton ile etiket arasındaki boşluğu ayarlayın */
}
