.card-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.card {
  width: 100%;
  margin-left: 32px;
  margin-right: 32px;
  height: 200px;
  background-image: url('/assets/images/aliagamutluyasam.png');
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  padding: 20px;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  background-size: 100% 70%;
  background-position: center;

  justify-content: space-between;
}

.card-number {
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: bold;
  color: black;
}

.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-name {
  font-size: 18px;
  color: black;
  font-weight: bold;
}

.card-balance {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 32px;
    margin-bottom: 8px;
}

.qr-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.qr-wrapper {
  margin-bottom: 20px;
}

qrcode {
  margin-top: 16px;
}

.countdown-timer {
  font-size: 1.2em;
  text-align: center;
}
