<ion-header>
  <ion-toolbar>
    <ion-title>QR</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closePage()">
        <ion-icon name="close"></ion-icon> <!-- "X" işareti için ikon -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="qr-container">
    <div class="qr-wrapper">
      <qrcode [qrdata]="qrCodeValue" [width]="qrCodeSize"></qrcode>
      <div class="balance-overlay">
        <ion-icon name="cash-outline"></ion-icon>
        Bakiye: {{ balance | currency:'TRY':'symbol':'1.2-2' }}
      </div>
    </div>
    <div class="countdown-timer">
      {{ countdown }} saniye kaldı
    </div>
  </div>
</ion-content>
