<ion-header>
  <ion-toolbar>
    <ion-title>QR</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closePage()">
        <ion-icon name="close"></ion-icon> <!-- "X" işareti için ikon -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="card-preview">
    <div class="card">
      <div class="card-number">{{ cardNumber }}</div>
      <div class="card-info">
        <div class="card-name">{{ cardHolderName }}</div>
      </div>
    </div>
  </div>

  <div class="card-balance">
    <ion-icon name="card" style="margin-right: 5px;"></ion-icon>
    {{ balance | number:'1.2-2' }}
  </div>
  

  <div class="qr-container">
    <div class="qr-wrapper">
      <qrcode [qrdata]="qrCodeValue" [width]="qrCodeSize"></qrcode>
    </div>
    <div class="countdown-timer">
      {{ countdown }} saniye kaldı
    </div>
  </div>
</ion-content>
