<ion-header>
  <ion-toolbar>
    <ion-title>Para Yükle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ödeme Bilgileri</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <form (ngSubmit)="submitPayment()" #paymentForm="ngForm">
        <ion-item>
          <ion-label position="floating">Kart Sahibi</ion-label>
          <ion-input type="text" [(ngModel)]="paymentData.cardHolder" name="cardHolder" required
                     (input)="updateCardPreview()"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="floating">Kart Numarası</ion-label>
          <ion-input type="text" [(ngModel)]="paymentData.cardNumber" name="cardNumber" required
             (input)="updateCardPreview(); updateCardType()"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Son Kullanma Tarihi</ion-label>
          <ion-input type="text" [(ngModel)]="paymentData.expiryDate" name="expiryDate" required
                     placeholder="MM/YY" (input)="updateCardPreview()"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">CVC/CVV</ion-label>
          <ion-input type="text" [(ngModel)]="paymentData.cvc" name="cvc" required
                     (input)="updateCardPreview()"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Yükleme Tutarı</ion-label>
          <ion-input type="number" [(ngModel)]="paymentData.amount" name="amount" required></ion-input>
        </ion-item>

        <ion-button expand="full" type="submit" color="primary" [disabled]="!paymentForm.form.valid">Ödemeyi Yap</ion-button>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-preview">
    <ion-card-header>
      <ion-card-title>Kredi Kartı Önizlemesi</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="card">
        <div class="card-header">
          <img *ngIf="cardLogo" [src]="cardLogo" alt="Card Logo" class="card-logo">
          <div class="card-number">{{ paymentData.cardNumber }}</div>
        </div>
        <div class="card-body">
          <div class="card-holder">Ad Soyad: {{ paymentData.cardHolder }}</div>
          <div class="card-expiry">SKT: {{ paymentData.expiryDate }}</div>
        </div>
        <div class="card-footer">
          <div class="card-cvc">CVC: {{ paymentData.cvc }}</div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
