<app-tabs-header></app-tabs-header>


<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="m-l-16 m-r-16 m-b-16">
    <div class="card">
      <div class="card-number">{{ cardNumber }}</div>
      <div class="card-info">
        <div class="card-name">{{ cardHolderName }}</div>
        <div class="card-balance">
          <ion-icon name="cash"></ion-icon>
          {{ balance | number:'1.2-2' }}
        </div>
      </div>
    </div>
  </div>

  <ion-item-divider>
    <ion-label>
      <h3>Harcama Geçmişi</h3>
    </ion-label>
  </ion-item-divider>
  <ion-list class="p-16">
    <div class="spending-item">
      <div class="spending-item-left">
        <div class="icon-wrapper">
          <ion-icon slot="start" name="card" class="spending-icon"></ion-icon>
        </div>
        <div class="spending-details-container">
          <span class="spending-details">Ödeme</span>
          <span class="spending-details">Ağapark Mağazası</span>
          <span class="spending-date">01/08/2024 14:30</span>
        </div>
      </div>
      <div>
        <ion-label>
          <span class="spending-details">250.00TL</span>
        </ion-label>
      </div>
    </div>
    <div class="spending-item">
      <div class="spending-item-left">
        <div class="deposit-icon-wrapper">
          <ion-icon slot="start" name="card" class="spending-icon"></ion-icon>
        </div>
        <div class="spending-details-container">
          <span class="spending-details">Yükleme</span>
          <span class="spending-date">01/08/2024 14:30</span>
        </div>
      </div>
      <div>
        <ion-label>
          <span class="spending-details">20.00TL</span>
        </ion-label>
      </div>
    </div>
    <div class="spending-item">
      <div class="spending-item-left">
        <div class="icon-wrapper">
          <ion-icon slot="start" name="card" class="spending-icon"></ion-icon>
        </div>
        <div class="spending-details-container">
          <span class="spending-details">Ödeme</span>
          <span class="spending-details">Ağapark Mağazası</span>
          <span class="spending-date">01/08/2024 14:30</span>
        </div>
      </div>
      <div>
        <ion-label>
          <span class="spending-details">250.00TL</span>
        </ion-label>
      </div>
    </div>
    <div class="spending-item">
      <div class="spending-item-left">
        <div class="deposit-icon-wrapper">
          <ion-icon slot="start" name="card" class="spending-icon"></ion-icon>
        </div>
        <div class="spending-details-container">
          <span class="spending-details">Yükleme</span>
          <span class="spending-date">01/08/2024 14:30</span>
        </div>
      </div>
      <div>
        <ion-label>
          <span class="spending-details">20.00TL</span>
        </ion-label>
      </div>
    </div>
    <div class="spending-item">
      <div class="spending-item-left">
        <div class="icon-wrapper">
          <ion-icon slot="start" name="card" class="spending-icon"></ion-icon>
        </div>
        <div class="spending-details-container">
          <span class="spending-details">Ödeme</span>
          <span class="spending-details">Ağapark Mağazası</span>
          <span class="spending-date">01/08/2024 14:30</span>
        </div>
      </div>
      <div>
        <ion-label>
          <span class="spending-details">250.00TL</span>
        </ion-label>
      </div>
    </div>
    <div class="spending-item">
      <div class="spending-item-left">
        <div class="deposit-icon-wrapper">
          <ion-icon slot="start" name="card" class="spending-icon"></ion-icon>
        </div>
        <div class="spending-details-container">
          <span class="spending-details">Yükleme</span>
          <span class="spending-date">01/08/2024 14:30</span>
        </div>
      </div>
      <div>
        <ion-label>
          <span class="spending-details">20.00TL</span>
        </ion-label>
      </div>
    </div>

  </ion-list>


</ion-content>
