.card {
    width: 100%;
    height: 200px;
    background-image: url('/assets/images/aliagamutluyasam.png');
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    padding: 24px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    background-size: 100% 70%;
    background-position: center;
    justify-content: space-between;
  }
  
  .card-number {
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: bold;
    color: black;
  }

  .card-balance {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 16px;
    color: black;
    font-weight: bold;
  }
  
  .card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-name {
    font-size: 18px;
    color: black;
    font-weight: bold;
  }

  .spending-item:last-child {
    border-bottom: none;
  }
  
  .spending-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
    min-height: 88px;
  }
    .spending-item-left{
        display: flex;
        align-items: center;
    }
  
    .icon-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        background-color: #ff0000; //#ff0000
        border-radius: 50%;
        margin-right: 8px;
      }
      
      .spending-icon {
        color: white; /* İkonun beyaz rengi */
        font-size: 20px;
      }
      .deposit-icon-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        background-color: #4caf50; //#ff0000
        border-radius: 50%;
        margin-right: 8px;
      }
      
      .spending-icon {
        color: white; /* İkonun beyaz rengi */
        font-size: 20px;
      }
      
  .spending-details-container{
    display: flex;
    flex-direction: column;
  }
    .spending-details {
        font-size: 16px;
        font-weight: bold;
    }
  
    .balance-details {
        font-size: 14px;
        color: #666;
        margin-top: 2px;
    }
  
  .spending-date {
    font-size: 12px;
    color: #999;
    margin-top: 4px;
  }
  