ion-header{
  box-shadow: none !important;
  ion-toolbar{
    --background: var(--ion-background-color) !important;
    --border-width: 0 !important;
    // --padding-bottom: 0;
    // --padding-end: 0;
    // --padding-start: 0;
    // --padding-top: 0;
    img{
      max-height: 36px;
    }
  }
  ion-button, ion-icon, ion-back-button{
    color: var(--ion-color-medium);
  }
}
