/* Padding All Sides */
.p-0 { padding: 0 !important; }
.p-8 { padding: 8px !important; }
.p-16 { padding: 16px !important; }
.p-24 { padding: 24px !important; }
.p-32 { padding: 32px !important; }

/* Padding Top */
.p-t-0 { padding-top: 0 !important; }
.p-t-8 { padding-top: 8px !important; }
.p-t-16 { padding-top: 16px !important; }
.p-t-24 { padding-top: 24px !important; }
.p-t-32 { padding-top: 32px !important; }

/* Padding Right */
.p-r-0 { padding-right: 0 !important; }
.p-r-8 { padding-right: 8px !important; }
.p-r-16 { padding-right: 16px !important; }
.p-r-24 { padding-right: 24px !important; }
.p-r-32 { padding-right: 32px !important; }

/* Padding Bottom */
.p-b-0 { padding-bottom: 0 !important; }
.p-b-8 { padding-bottom: 8px !important; }
.p-b-16 { padding-bottom: 16px !important; }
.p-b-24 { padding-bottom: 24px !important; }
.p-b-32 { padding-bottom: 32px !important; }

/* Padding Left */
.p-l-0 { padding-left: 0 !important; }
.p-l-8 { padding-left: 8px !important; }
.p-l-16 { padding-left: 16px !important; }
.p-l-24 { padding-left: 24px !important; }
.p-l-32 { padding-left: 32px !important; }

/* Padding Left and Right */
.p-lr-0 { padding-left: 0 !important; padding-right: 0 !important; }
.p-lr-8 { padding-left: 8px !important; padding-right: 8px !important; }
.p-lr-16 { padding-left: 16px !important; padding-right: 16px !important; }
.p-lr-24 { padding-left: 24px !important; padding-right: 24px !important; }
.p-lr-32 { padding-left: 32px !important; padding-right: 32px !important; }

/* Padding Top and Bottom */
.p-tb-0 { padding-top: 0 !important; padding-bottom: 0 !important; }
.p-tb-8 { padding-top: 8px !important; padding-bottom: 8px !important; }
.p-tb-16 { padding-top: 16px !important; padding-bottom: 16px !important; }
.p-tb-24 { padding-top: 24px !important; padding-bottom: 24px !important; }
.p-tb-32 { padding-top: 32px !important; padding-bottom: 32px !important; }

/* Shadow Parts */
ion-toolbar {
  &.p-b-12 {
    --padding-bottom: 12px;
  }
}
