.logo-area{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 150px;
}

ion-footer{
  box-shadow: none;
  ion-toolbar{
    text-align: center;
  }
}

