<app-tabs-header></app-tabs-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <app-slider class="m-b-16">
    <app-slider-option *ngFor="let item of banners" [data]="item" (onClick)="onSliderClick(item)"></app-slider-option>
  </app-slider>
  <app-slider class="m-b-16" [type]="'beta'" [header]="'Kampanyalar'" (allButtonClick)="goToCampaignsPage()">
    <app-slider-option *ngFor="let item of banners" [data]="item" (onClick)="onSliderClick(item)"></app-slider-option>
  </app-slider>
  <app-slider class="m-b-16" [type]="'gama'" [header]="'Mağazalar'" (allButtonClick)="goToCampaignsPage()" >
    <app-slider-option *ngFor="let item of banners" [data]="item" (onClick)="onSliderClick(item)"></app-slider-option>
  </app-slider>

  <!-- <ion-card (click)="onCityGuideClick()" class="m-b-8">
    <ion-card-header>
      <ion-card-title>Kent Rehberi</ion-card-title>
    </ion-card-header>
    <img src="assets/images/aliaga.jpg" class="h-88" alt="Aliağa Kent Rehberi" />
  </ion-card> -->
</ion-content>
