<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline" defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Profilim</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- Profil Kartı -->
  <ion-card (click)="goMyProfile()">
    <ion-card-header class="profile-header">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <!-- Profil Resmi -->
          <ion-col size="3">
            <ion-avatar class="profile-avatar">
              <img [src]="avatarUrl" alt="Profil Resmi">
            </ion-avatar>
          </ion-col>
  
          <!-- Ad Soyad ve Email -->
          <ion-col size="9">
            <ion-card-title>
              <span>{{ name }}</span>
            </ion-card-title>
            <ion-card-subtitle>
              <span>{{ email }}</span>
            </ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
  </ion-card>
  

  <!-- Profil Seçenekleri Listesi -->
  <ion-list class="profile-details">
    <ion-item>
      <ion-label>Ayarlar</ion-label>
    </ion-item>

    <ion-item (click)="balanceInfo()">
      <ion-label>Bakiye Geçmişi</ion-label>
    </ion-item>
  </ion-list>

  <!-- Çıkış Yap Butonu -->
  <ion-button expand="block" fill="outline" color="primary" (click)="signOut()">
    Çıkış Yap
  </ion-button>

  <!-- Gizli Dosya Seçim Input'u -->
  <input type="file" (change)="onFileSelected($event)" hidden #fileInput>
</ion-content>
